{% extends "base.html" %} {% block content %}
<p>Just send your form to this URL and it'll be forwarded to your email. No PHP, Javascript or sign up required — perfect for
    static sites!</p>
<h3>Example</h3>
<code>
    &lt;form action="yourdomain/s/your@mail.com" method="POST"&gt;<br>
    <div class="indented">
        &lt;input name="name" required="" type="text"&gt;<br>
        &lt;input name="replyto" required="" type="email"&gt;<br>
        &lt;textarea name="message"&gt;&lt;/textarea&gt;<br>
        &lt;input value="Send" type="submit"&gt;<br>
    </div>
    &lt;/form&gt;
</code> {% endblock %}