{% extends "base.html" %}
{% block content %}
<div class="columns">
    <div class="column col-8 centered">
        <div class="toast toast-success">
            Your mail was successfully sent to <strong>{{ message.email.address }}</strong>
        </div>
        <div class="empty">
            <div class="empty-icon"><i class="icon icon-check"></i></div>
            <h4 class="empty-title">Thank you for contacting us</h4>
            <p class="empty-subtitle">You will be redirected back</p>
            <div class="empty-action">
                <a href="{% if message.next %}{{ message.next }}{% else %}https://mailstatic.net{% endif %}" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}